@model PlayerValidaton.Models.Player

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="player_id" />
            <div class="form-group">
                <label asp-for="player_name" class="control-label"></label>
                <input asp-for="player_name" class="form-control" />
                <span asp-validation-for="player_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nationality" class="control-label"></label>
                <input asp-for="nationality" class="form-control" />
                <span asp-validation-for="nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="position" class="control-label"></label>
                <input asp-for="position" class="form-control" />
                <span asp-validation-for="position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contract_expiry" class="control-label"></label>
                <input asp-for="contract_expiry" class="form-control" />
                <span asp-validation-for="contract_expiry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
